// Cost

.cost {
  @media (max-width: @mobail-width-only) {
    width: 100%;
    background-color: @grey;
    overflow: hidden;
  }
}

.cost__box-table {
  padding-top: 136px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
    padding-bottom: 70px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 186px;
    padding-bottom: 98px;
  }
}

.cost__table {
  @media (max-width: @mobail-width-only) {
    width: 1104px;
    display: table;
    table-layout: fixed;
    position: relative;
    left: -529px;
  }
}

.cost__tarif-item {
  background-color: @black-blue;
  border: 2px solid @black-blue;
  height: 90px;

  @media (min-width: @tablet-width) {
    width: 152px;
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    height: 94px;
  }
}

.cost__tarif-item--box-base {
  border-radius: 1px 0 0 0;
}

.cost__tarif-item--box-unlim {
  border-radius: 0 1px 0 0;
}

.cost__tarif-item--box-standard {
  position: relative;
}

.cost__box-tarif-item-tarif-name {
  @media (max-width: @mobail-width-only) {
    margin: 5px 0 -23px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: -5px 0 5px;
  }
}

.cost__tarif-name {
  color: @white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.cost__tarif-item-price {
  @media (max-width: @mobail-width-only) {
    margin-bottom: 21px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.cost__box-tarif-item-price {
  @media (min-width: @tablet-width) {
    margin: -5px auto 0;
  }
}

.cost__price {
  color: @white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.cost__hit {
  position: absolute;

  @media (max-width: @tablet-width-only) {
    top: -2px;
    left: -2px;
  }

  @media (min-width: @desktop-width) {
    top: -1px;
    left: -1px;
  }
}

.cost__box-services-list-item {
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 30px;
  }
}

.cost__services-item {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: left;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.cost__services-item--inside-text {
  text-transform: uppercase;
  margin: 0 auto 0 0;
  width: max-content;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.cost__box-services-list-yes-no {
  background-color: @white;

  @media (max-width: @mobail-width-only) {
    display: table-cell;
    height: 59px;
    padding: 0 20px;
    position: relative;
  }
}

.cost__box-services-yes-no-choice {
  @media (max-width: @mobail-width-only) {
    position: absolute;
    top: 16px;
    right: 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 4% 40%;
  }

  @media (min-width: @desktop-width) {
    padding: 6% 43%;
  }
}

.cost__box-slider {
  width: 55px;
  padding: 0 20px 47px;
  margin: 0 auto;
  background-color: @grey;

  // @media (min-width: @desktop-width) {
  //   padding: 0 130px;
  // }
}

.cost__slider {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

// .cost__tarif-item--dislpay-none // Использую или нет?????
// .cost__tarif-name-none // Использую или нет?????
// .cost__price-none // Использую или нет?????
