// Effects

.effects {
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 16px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    display: grid;
    grid-template-rows: min-content min-content;
  }
}

.effects--box { // gray-background
  width: 100%;
  height: 828px;
  background-image: url("data:image/svg+xml,%3Csvg width='318' height='506' viewBox='0 0 318 506' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-451 70.7692L763 0V506H-451V70.7692Z' fill='%23F2F2F2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 695px;
    background-position-y: -4px;
    top: 8px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    height: 715px;
    background-position-y: -35px;
    top: 15px;
  }
}

.effects__box-effects-list {
  padding: 114px 20px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 95px 15px 0 14px;//113 15 0 14
    margin: -15px 0 0 -14px;
    //padding-top: 95px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    padding: 0 20px;
    background-color: @grey;
    position: relative;
    z-index: 2;
    top: -80px;
    width: 940px;
    margin: 85px auto 0;
    //padding-top: 0;
  }

  @media (min-width: @desktop-width) { //@desktop-width
    padding: 0 130px;
  }
}

.effects__list {
  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
  }
}

.effects__box-underlay { // .effects__box-list-item { // underlay-background
  width: 100%;
  background-color: @grey;
  margin-top: 43px;

  @media (min-width: @desktop-min-width) { //@desktop-width
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='189' viewBox='0 0 300 189' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='300' height='189' fill='%23F2F2F2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    position: relative;
    top: -136px;
    width: 300px;
  }
}

.effects__item {
  .item-style-none();

  @media (min-width: @desktop-min-width) { //@desktop-width
    margin: 0 auto; // 0 -34px 0 -33px;
    padding: 57px 0 0 0;
    width: 239px;
  }
}

.effects__box-item-caption {
  margin: 0;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-bottom: 13px;
    margin-top: 1px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    margin: 0 auto;
  }
}

.effects__caption {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    text-align: left;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    font-size: 30px;
    line-height: 30px;
  }
}

.effects__box-item-description {
  width: 280px;
  margin: 11px auto 32px;

  @media (min-width: @tablet-width) {
    width: 104%;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    width: auto;
    margin: 24px 0 0;
  }
}

.effects__description {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    text-align: left;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    font-size: 18px;
    line-height: 30px;
  }
}

.effects__box-effects-img-list {
  margin: 0 auto;
  padding: 0;

  @media (min-width: @desktop-min-width) { //@desktop-width
    margin: 39px auto 0;
  }
}

.effects__img-list {
  @media (min-width: @desktop-min-width) { //@desktop-width
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 940px;
  }
}

.effects__box-img-list-img-item {
  margin: 0 auto;

  @media (min-width: @desktop-min-width) { //@desktop-width
    margin: 0;
  }
}

.effects__img-item {
  .item-style-none();
  margin: 0 auto;
  padding: 9px 0 0;

  @media (min-width: @desktop-min-width) { //@desktop-width
    margin: 0 40px 0 4px;
  }
}

.effects__img-1 {
  display: none;

  @media (min-width: @desktop-min-width) { //@desktop-width
    display: flex;
  }
}

.effects__img-2 {
  display: none;

  @media (min-width: @desktop-min-width) { //@desktop-width
    display: flex;
  }
}

.effects__img-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.effects__box-img-item-img-phone {
  @media (min-width: @tablet-width) {
    margin: 1px 17px 0 0;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    margin: 1px -34px 0 0;
  }
}

.effects__img-phone {
  background-color: @grey-dark;
  border-radius: 28px;
  width: 157px;
  height: 320px;

  @media (min-width: @tablet-width) {
    border-radius: 40px;
    width: 268px;
    height: 547px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    background-color: transparent;
    width: 308px;
    height: 382px;
  }
}
