// Effects

.effects {
  width: 100%;
  background-color: @grey;
}

.effects__box-effects {
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.effects__list {
  margin: 0 auto;
  padding: 0;
}

.effects__item {
  .item-style-none();
}

.effects__caption {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.effects__description {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.effects__img-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.effects__img-item {
  .item-style-none();
  margin: 0 auto;
}

.effects__img-1 {
  display: none;
}

.effects__img-2 {
  display: none;
}
