// Footer

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer--box {
  padding: 180px 20px 0;
  margin: 0;
  width: auto;

  @media (min-width: @tablet-width) {
    margin: 154px auto 0;
    width: 96%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px 50px;
    margin: 448px auto 0;
    width: auto;
  }
}

.footer__box-footer-logo {
  margin-top: 35px;

  // @media (min-width: @tablet-width) {
  //   margin-top: 154px;
  // }
}

.footer__logo {
  width: 145px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    align-items: center;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: -13px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
  }
}

.footer__social-item {
  .item-style-none();
  margin: 5px;
}

.footer__social-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: @white;
  border: 3px solid @black-opacity;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    border-color: @black-blue;
  }

  &:hover {
    border-color: @black-blue;
  }

  &:active {
    border-color: @black-blue;
    opacity: 0.1;
  }
}

.footer__social-icon {
  fill: @red;

  &:active {
    opacity: 0.3;
  }
}

.footer__box-footer-developed {
  width: 130px;
  margin-bottom: 21px;

  @media (min-width: @desktop-width) {
    width: 152px;
  }
}

.footer__developed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__developed-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @black-blue;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.footer__developed-icon {
  width: 27px;
  height: 34px;
  fill: @red;

  &:focus {
    fill: @black-blue;
  }

  &:hover {
    fill: @black-blue;
  }

  &:active {
    fill: @black-blue;
    fill-opacity: 0.3;
  }
}
