// Offers

.offers {
  color: @black-blue;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    font-size: 50px;
    line-height: 68px;
  }
}

.offers--box {
  margin: 0;
}

.offers__box-offers {
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.offers__first {
  @media (max-width: @mobail-width-only) {
    width: 250px;
    margin: 42px auto 30px;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 45px auto 1px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    width: 77%;
    margin-top: 60px;
  }
}

.offers__second {
  width: 250px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 575px;
  }

  @media (min-width: @desktop-min-width) { //@desktop-width
    width: 700px;
  }
}
