//Researching

.researching {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.researching--box {
  @media (min-width: @desktop-width) {
    background-color: @grey;
  }
}

.researching__box-content {
  height: 330px;
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 950px;
    padding: 54px 130px 15px;
  }
}

.researching__content {
  @media (max-width: @mobail-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.researching__box-content-img {
  @media (min-width: @tablet-width) {
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -66px;
  }
}

.researching__img {
  width: 238px;
  height: 276px;
  display: flex;
  justify-self: center;

  @media (min-width: @tablet-width) {
    width: 235px;
    height: 305px;
  }

  @media (min-width: @desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.researching__box-description {
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-left: -30px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 5%;
  }
}

.researching__description {
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.researching__box-description-caption {
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    width: 295px;
    margin-bottom: 0;
  }
}

.researching__caption {
  color: @black;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}

.researching__box-description-text {
  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-top: 11px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 534px;
    margin-bottom: 31px;
  }
}

.researching__text {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.researching__link {
  color: @red;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
