// Reviews

.reviews__box {
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.reviews__author-name {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-about {
  color: @white;
  font-weight: normal;
  font-size: 14px;
  line-height: 3px;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @black-blue;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  color: @black-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
